<div class="play-area">
	<div class="row" id="builtCards">
		<div class="col-xs-7">
			<div class="row">
				<div class="col-xs-2" id="CIVILIAN">

				</div>
				<div class="col-xs-2" id="MILITARY">

				</div>
				<div class="col-xs-2" id="COMMERCIAL">

				</div>
				<div class="col-xs-2" id="GUILD">

				</div>
				<div class="col-xs-2" id="SCIENTIFIC">

				</div>
				<div class="col-xs-2" id="RESOURCE">

				</div>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="row">
				<nav>
					<ul class="pager">
					  <li class="previous"><a id="swipePlayAreaLeft" class="fake-link"><span>&larr;</span></a></li>
					  <li class="lead" id="selectedPlayer"></li>
					  <li class="next"><a id="swipePlayAreaRight" class="fake-link"><span>&rarr;</span></a></li>
					</ul>
				</nav>
			</div>
			<div class="row">
				<div id="playerCoins" class="col-xs-4">
					
				</div>
				<div id="playerConflict" class="col-xs-8">
					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-warning" id="purchaseResources">Purchase Resources</button>
				</div>
			</div>
			<div class="row">
				<div class="wonder">
					<img>
				</div>
				<div class="stages">
					
				</div>
			</div>
		</div>
	</div>
</div>